.sensor-card {
  margin-top: 2.5vh;
}

.sensor-header {
  font-size: 2rem;
}

.sensor-info-title {
  font-size: 1.25rem;
}

.sensor-button-container {
  text-align: center;
  margin-top: 1rem;
}

.sensor-details-button {
  background-color: #2A94E5 !important; 
  border-color: #2A94E5 !important;
}

.sensor-details-button:hover {
  background-color: #187AC4 !important; 
}
